<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>GUDLFT Registration</title>
    <link rel="stylesheet" href="static/css/styles_index.css">
    <script src="static/js/js_index.js"></script>
</head>
<body>
    <center>
        <h1>Welcome to the GUDLFT Registration Portal!</h1>
        Please enter your secretary email to continue:
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="showSummary" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" id=""/>
            <button type="submit" class="valid">Enter</button>
        </form>

        <button  type="button" onclick="afficherSection('section1')" id="btnsection1" class="active">CLUBS</button>
        <button  type="button" onclick="afficherSection('section2')" id="btnsection2">COMPETITIONS</button>

        <div id="section1" class="section">
            <h2>Liste des Equipes</h2>
            {% for club in clubs %}
                <li>
                    Nombre {{ club['name'] }}<br />
                    Points: {{ club['points'] }}</br>
                </li>
                <hr width="350px"/>
            {% endfor %}
        </div>

        <div id="section2" class="section">
            <h2>Liste des Competitions</h2>
            {% for comp in competitions %}
                <li>
                    {{ comp['name'] }}<br />
                    Date: {{ comp['date'] }}<br />
                    Number of Places: {{ comp['numberOfPlaces'] }}
                </li>
                <hr width="350px"/>
            {% endfor %}
        </div>
    </center>
</body>
</html>
